<!doctype html>
<html>
  <head>
    <title>Site Title</title>
    <link href='./public/css/styles.css' rel="stylesheet">
  </head>
  <body>
    <h1>Running on node with Express, EJS, Sass and React</h1>

    <div class="c-login-form-wrapper">
      <%- loginFormOutput %>
    </div>

  <!-- comment out main.js to see server side only rendering -->
  <script src="./public/js/main.js"></script>

  </body>
</html>
